.main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post {
  width: 500px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1 solid black;
}
